body {
  background-color: #262a2c;
  margin: 0;
  padding: 40px 20px;
}

/* Heading */
h1 {
  text-align: center;
  font-size: 2.5em;
  color: #ffffff;
  margin-bottom: 30px;
}

/* Table Stuff */
.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  border-radius: 12px;
  overflow: hidden;
}

